{% extends "base.html" %}

{% block title %}
    
    Nuovo Evento

{% endblock %}


{% block content %}

    <h1>Aggiungi un Nuovo Evento</h1>

    {% if submitted %}

        <!--<div class="alert alert-success" role="alert">
            Evento aggiunto con successo!
        </div>-->

    {% else %}

        {% if user.is_authenticated and user.is_staff %}

        <form action="" method=POST class="container d-flex flex-column w-75 mt-4">
            {% csrf_token %}

            {{ form.as_p }}

            <div class="w-100 text-end">
                <input type="submit" class="btn btn-secondary" value="Salva">
            </div>
        </form>

        {% else %}

        <div class="alert alert-danger" role="alert">
            Devi essere autenticato per aggiungere un evento!
        </div>

        Vai alla pagina di autenticazione:
        <a href="{% url 'login' %}"> Login  </a>

        {% endif %}        

    {% endif %}

{% endblock %}
