<div class="w-100 d-fixed position-absolute z-3 m-0 top-0" style="max-height: 5vh;"> 
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid justify-content-start overflow-hidden flex-shrink-0">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <a class="navbar-brand mx-3" href="{% url 'home' %}"> Scandicci Scacchi </a> <!-- to add parameters just add 'par1' 'par2' ... after 'home' -->
            <ul class="navbar-nav me-auto flex-row">
                <li class="nav-item me-3">
                    <a class="nav-link" href="{% url 'home' %}"> Home </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" href="{% url 'events' %}"> Eventi </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" href="{% url 'add_event' %}"> Nuovo Evento </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" href="{% url 'venues' %}"> Luoghi </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" href="{% url 'add_venue' %}"> Nuovo Luogo </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="collapse z-3" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h5 class="text-white h4">Collapsed content</h5>
            <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
    </div>
</div>