{% extends "base.html" %}

{% block title %}
    
    Aggiorna Luogo

{% endblock %}


{% block content %}

    <h1>Aggiorna Luogo</h1>

    {% if user.is_authenticated and user.is_staff %}

    <form action="" method=POST class="container d-flex flex-column w-75 mt-4">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="w-100 text-end">
            <input type="submit" class="btn btn-secondary" value="Aggiorna">
        </div>
    </form>

    {% else %}

    <div class="alert alert-danger" role="alert">
        Devi essere autenticato per aggiornare un luogo!
    </div>

    Vai alla pagina di autenticazione:
    <a href="{% url 'login' %}"> Login  </a>

    {% endif %}  

{% endblock %}
