body
{
    background-color: #f5f6f8;
    font-family: "Marr Sans Condensed", DINCondensed-Bold, "Roboto Condensed", "Arial Narrow", sans-serif;
    max-width: 100% !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
}

header
{
    background-color: #ffffff;
    color: #2a303b;
}

#NavList
{
    cursor: pointer;
}

#Home
{
    border-top: 4px solid #026b9c !important;
}

#MenuBar
{
    background-color: #ffffff;
    top: 0; 
    box-sizing: border-box;
    z-index: 3;  
}

#MenuList
{
    overflow-x: scroll;
    overflow-y: visible;
}

#MenuList li
{
    height: 3.654rem !important;
    min-width: 3.654rem !important;
}

.nav-link
{
    cursor: pointer !important;
    user-select: none;
}

@media (max-width: 992px) 
{
    body
    {
        background-color: #ffffff;
    }

    .nav-link
    {
        font-size: 0.98rem;
        padding: 0.96rem 0.5rem;
        color: #2c323d;
    }

    .nav-link:hover
    {
        color:#026b9c;
    }

    #MenuBar
    {
        position: absolute;
        margin-top:3.654rem; 
        align-items: flex-start;
        justify-content: start;
    }

    #MenuList
    {
        width: 100%;
    }

    #MenuList li
    {
        border-top: 4px solid #026b9c00;
    }

    #NavSearch
    {
        flex-shrink: 0;
        flex-grow: 1;
        height: 100%;
        align-items: end;
        justify-content: end;
        padding-right: 2rem;
    }

}

@media (min-width: 992px) 
{

    #Language 
    {
        height: 2.9rem;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .nav-link
    {
        padding: 0.96rem 1.26rem;
        font-size: 1.07rem;
        color: #2c323d;
        height: 100% !important;
        max-height: 100% !important;
        vertical-align: top;
    }

    .nav-link:hover
    {
        color:#026b9c;
    }


    #MenuBar
    {
        border-top: 3px solid #026b9c;
        justify-content: center;
    }

    #Home
    {
        border-right-width: 0 !important;
    }

    #MenuList
    {
      
        border-bottom-width: 0 !important;
        max-width: 72.6rem !important;
        justify-content: space-between;
        width: 72.6rem !important;
    }

    #MenuList li
    {
        border-top-width: 0 !important;
    }

}


#Title
{
    max-width: 72.6rem;
    height: 6rem;
}

#Journal
{
    height: 3.4rem;
    margin-right: 1rem;
}

#ConsulterLeJournal
{
    flex-direction: column;
    line-height: 1rem;
    /*margin-left: 5.67rem;*/
    height: 3.4rem;
    padding-top: 0.63rem;
    font-weight: 500;
    font-size: 0.82rem;
    color: #717b8e;
}

#ConsulterLeJournal:hover
{
    text-decoration: underline;
}

#Logo
{
    max-width: 253.75px;
}

#SingInLine
{
    font-size: 0.882rem;
    font-weight: 500;
    margin-bottom: 1.764rem;
}

#connecter
{
    padding: .5rem 0;
    text-decoration: none;
    color: #2a303b;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    overflow: hidden;
}

#abonner-btn
{
    background: #ffc700;
    padding: .44rem 1rem;
    font-size: 0.756rem;
    font-weight: 500;
    line-height: 1;
    height: 1.89rem;
    border-radius: 0.189rem;
}

#abonner-btn:hover
{
    background: #eab002;
}

#NavLogo img
{
    max-width: 5.35rem;
}

@media (max-width: 992px) 
{
    #NavLogin
    {
        margin-left: auto;
    }
}

#LastNews
{
    background-color: #036487;
}

#LastNewsContainer
{
    max-width: 72.576rem !important;
    min-height: 6.93rem !important;
    font-family: "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
}

#LastNews li
{
    border-right: 1px solid #024771;
}

#LastNews a
{
    color: #f0f6f8;
    font-size: 0.819rem;
    font-weight: 500;
    line-height: 1.25;
}

#LastNews a:hover
{
    color: #f0f6f8;
    text-decoration: underline !important;
}

#Main
{
    position: relative;
    background-color: #ffffff;
    color: #2a303b;
    max-width: 63rem;
    transition: .2s;
    margin: 13.86rem auto 0 auto !important;
}

#DropDownMenu
{
    z-index: 3; 
    background-color: #f5f6f8;
}

.my-shadow
{
    box-shadow: 0px 10000px 0px 10000px #000000aa; /* Shadow properties */;
}

.n-link
{
    color: #d5d8dc;
    text-decoration: none;
    cursor: default;
}

.n-link:hover
{
    color: #4488cc;
    text-decoration: none;
}

.n-link.fw-bold
{
    color: #2a303b;
    text-decoration: none;
}

.n-link.fw-bold:hover
{
    color: #2a303b;
    text-decoration: none;
}

.lang
{
    margin-right: .5rem;
    line-height: 1;
    font-size: 0.72rem !important;
    font-weight: 500 !important;
    letter-spacing: .03rem;
}

.spacer
{
    display: inline-block;
    vertical-align: middle;
    background-color: #d5d8dc;
    width: 0.075rem;
    margin-right: .5rem;
    height: 1.5rem;
}

.navbar
{
    height: 3.654rem;
    font-weight: 500;
    background: #ffffff;
}


.navbar-nav
{
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

@media (min-width: 992px) 
{
    .navbar-nav
    {
        justify-content: space-between;
        max-width: 72.6rem;   
        margin-left: auto;
        margin-right: auto; 
    }
}


.nav-item
{
    /*margin-right: 1rem;*/
    height: 100% !important;
    max-height: 100% !important;
    overflow: hidden;
}


.dropdown-toggle
{
    cursor: pointer;
}

.my-dropdown-menu
{
    background-color: #f5f6f8;
    border-radius: 0;
    border-width: 0;
    padding: 2.5rem 1.75rem;
    max-width: 72.6rem !important;
    margin : 0 auto !important;
}

.bi-chevron-down
{
    margin-top: auto;
    margin-bottom: auto;
    color: #a4a9b4;
}

.time
{
    color: #79c4df;
}

.btn-actualites
{
    font-size: 0.75rem;
    padding: 0.75rem;
    padding-bottom: 0.4rem;
    border-radius: 3px;
}


.btn-actualites:hover
{
    background-color: #e9eaec;
}

.my-dropdown-menu-active
{
    background-color: #f5f6f8;
}

.title-filler
{
    color: #2a303b;
    font-family: 'The Antiqua B', Georgia, Droid-serif, serif;
    font-weight: 800;
    text-decoration: none;
    line-height: 1;
}

.title-filler:hover
{
    color: #2a303b;
    text-decoration: underline solid 1px;
}

.title-filler:after
{
    content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet magna et elit volutpat tempor.';
}


.article-filler
{
    color: #2a303b;
    font-family: 'Marr Sans', Arial, Roboto, sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 1.07rem;
    line-height: 1.41;
}

.article-filler:after
{
    content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor venenatis libero ut accumsan. Etiam nec molestie tortor. Nullam dignissim metus urna, nec maximus felis consequat vitae. Nulla id venenatis lectus, vitae facilisis mauris. Fusce in dolor sed nisl ornare congue nec eu augue. Ut eu diam posuere, rhoncus ipsum eu, rhoncus dui. Vestibulum vel facilisis orci.';
}

.small-text-title
{
    font-size:0.8rem;
    font-family: 'Marr Sans', Arial, Roboto, sans-serif;
    font-weight: 800;
}

.small-text-filler
{
    color: #2a303b;
    font-family: 'Marr Sans', Arial, Roboto, sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 0.95rem;
    line-height: 1.41;
    background-color:#f4f9fb;
}

.small-text-filler:after
{
    content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor venenatis libero ut accumsan. Etiam nec molestie tortor.';
}

figcaption
{
    text-align: right;
    text-transform: uppercase;
    font-family: 'Marr Sans', Arial, Roboto, sans-serif;
    font-weight: 400;
    line-height: 1;
    font-size: 0.6rem;
}

figcaption:after
{
    content: 'Lorem ipsum / AFP';
}

.image-filler
{
    content: url('https://placehold.co/600x400');
}

#ImageUnder
{
    position: absolute;
    z-index: 0;
}

#TextOnTop
{
    width: 87.5%;
    background-color: #ffffff; 
    left: 50%;
    z-index: 2;
}